<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eagle.CLRv4.Core" version="1.0.7900.33333" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Harpy.CLRv4" version="1.0.7900.33333" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.SEE" version="1.0.115.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.SEE.NetFramework" version="1.0.115.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.0" targetFramework="net472" />
</packages>